<div id="signUp" class="card mx-auto" style="width: 400px;" ng-controller="signUpController as suCtrl">
    <div class="card-body">
        <div class="card-title text-center mb-3">
            <span id="title">
                Sign up
            </span>
            <span id="instead" class="float-right">
                <a class="card-link" href="#!signin">Sign in</a>
                <a> instead?</a>
            </span>
        </div>
        <div class="form-group">
            <label>Account type</label>
            <select class="form-control" ng-model="suCtrl.data.select">
                <option value="">Select type</option>
                <option value="1">Student</option>
                <option value="2">Lecturer</option>
                <option value="3">Manager</option>
            </select>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" ng-model="suCtrl.email">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="suCtrl.firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="suCtrl.lastName">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="suCtrl.password">
        </div>
        <button type="submit" class="btn btn-primary mt-2" ng-click="suCtrl.signUp()">Create account</button>
    </div>
</div>