<div class="container" style="width: 350px;" ng-controller="studentSettingsController as studCtrl">
    <form>
        <div>
            <h4>Change password</h4>
        </div>
        <div class="form-group mt-3">
            <label>Enter old password</label>
            <input id="stud-old-pass-1" type="password" class="form-control" ng-model="studCtrl.oldPassword1" required>
        </div>
        <div class="form-group">
            <label>Enter old password once again</label>
            <input id="stud-old-pass-2" type="password" class="form-control" ng-model="studCtrl.oldPassword2" required>
        </div>
        <div class="form-group">
            <label>Enter new password</label>
            <input id="stud-new-pass" type="password" class="form-control" ng-model="studCtrl.newPassword" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="studCtrl.changePassword()">Change password</button>
    </form>
</div>