<ul class="navbar-nav flex-row">
    <li id="{{nbCtrl.navbarService.tab1}}" class="nav-item mr-sm-2 pt-3">
        <a class="nav-link" href="#!home/manager">
            <span class="tab-title">Calendar</span>
        </a>
    </li>
    <li id="{{nbCtrl.navbarService.tab2}}" class="nav-item mr-sm-2 pt-3">
        <a class="nav-link" href="#!home/manager/groups">
            <span class="tab-title">Groups</span>
        </a>
    </li>
    <li id="{{nbCtrl.navbarService.tab3}}" class="nav-item mr-sm-2 pt-3">
        <a class="nav-link" href="#!home/manager/students">
            <span class="tab-title">Students</span>
        </a>
    </li>
    <li id="{{nbCtrl.navbarService.tab4}}" class="nav-item pt-3">
        <a class="nav-link" href="#!home/manager/settings">
            <span class="tab-title">Settings</span>
        </a>
    </li>
</ul>