<div class="container" style="width: 350px;" ng-controller="managerSettingsController as manCtrl">
    <form>
        <div>
            <h4>Reset password</h4>
        </div>
        <div class="form-group mt-3">
            <label>Enter old password</label>
            <input id="old-pass-1" type="password" class="form-control" ng-model="manCtrl.oldPassword1" required>
        </div>
        <div class="form-group">
            <label>Enter old password once again</label>
            <input id="old-pass-2" type="password" class="form-control" ng-model="manCtrl.oldPassword2" required>
        </div>
        <div class="form-group">
            <label>Enter new password</label>
            <input id="new-pass" type="password" class="form-control" ng-model="manCtrl.newPassword" required>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="manCtrl.changePassword()">Change password</button>
    </form>
</div>