<div class="container" style="width: 500px;" ng-controller="managerGroupsController as manCtrl">
    <form>
        <div>
            <h4>Create group</h4>
        </div>
        <div class="form-group">
            <label>Group name</label>
            <div class="form-row">
                <div class="col-10">
                    <input type="text" class="form-control" ng-model="manCtrl.group">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary" ng-click="manCtrl.createGroup()">Create</button>
                </div>
            </div>
        </div>
    </form>
    <form class="mt-5">
        <div>
            <h4>Delete group</h4>
        </div>
        <div class="form-group no-margin-bottom">
            <label>Group name</label>
            <div class="form-row">
                <div class="col-10">
                    <select class="form-control" ng-model="manCtrl.selectedGroup" ng-options="group.GroupId as group.GroupName for group in manCtrl.groups.groups | orderBy : 'GroupName'">
                        <option value="">Select group</option>
                    </select>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary" ng-click="manCtrl.deleteGroup()">Delete</button>
                </div>
            </div>
        </div>
        <div>
            <span class="note text-muted">*Available unused groups only</span>
        </div>
    </form>
</div>