<div class="container" ng-controller="managerHomeController as manCtrl">
    <div class="row page">
        <div class="col mr-xl-5">
            <form class="container">
                <div class="form-group">
                    <label>Group</label>
                    <select class="form-control" ng-model="manCtrl.selectedGroup" ng-options="group.GroupId as group.GroupName for group in manCtrl.groups.groups | orderBy : 'GroupName'" required>
                        <option value="">Select group</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Lecture</label>
                    <select class="form-control" ng-model="manCtrl.selectedLecture" ng-options="lecture.LectureId as lecture.LectureName for lecture in manCtrl.lectures.lectures | orderBy : 'LectureName'" required>
                        <option value="">Select lecture</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Teacher</label>
                    <select class="form-control" ng-model="manCtrl.selectedTeacher" ng-options="teacher.Id as teacher.FullName for teacher in manCtrl.teachers.teachers | orderBy : 'FullName'" required>
                        <option value="">Select teacher</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Start time</label>
                    <div class="form-row">
                        <div class="col-4">
                            <select class="form-control" ng-model="manCtrl.startTime.hour.key">
                                <option value="">Hours</option>
                                <option ng-repeat="hour in manCtrl.startTime.hours" value="{{hour.key}}">{{hour.value}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="form-control" ng-model="manCtrl.startTime.minute.key">
                                <option value="">Minutes</option>
                                <option ng-repeat="minute in manCtrl.startTime.minutes" value="{{minute.key}}">{{minute.value}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div class="form-row">
                        <div class="col-4">
                            <select class="form-control" ng-model="manCtrl.endTime.hour.key">
                                <option value="">Hours</option>
                                <option ng-repeat="hour in manCtrl.endTime.hours" value="{{hour.key}}">{{hour.value}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="form-control" ng-model="manCtrl.endTime.minute.key">
                                <option value="">Minutes</option>
                                <option ng-repeat="minute in manCtrl.endTime.minutes" value="{{minute.key}}">{{minute.value}}</option>
                            </select>
                        </div>
                        <div class="col ml-1">
                            <button type="submit" class="btn btn-primary" ng-click="manCtrl.createSchedule()">Apply</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col card">
            <div class="calendar">
                <div class="month d-flex align-items-center justify-content-between card-header">
                    <a class="prev pl-sm-2 pl-xl-4" ng-click="prev()">
                        <img src="./data/externalLinks/bootstrap-icons-1.0.0-alpha5/caret-left.svg" alt="" width="30em" height="30em">
                    </a>
                    <div class="date">
                        <h2>{{monthYear.month}} {{monthYear.year}}</h2>
                    </div>
                    <a class="next pr-sm-2 pr-xl-4" ng-click="next()">
                        <img src="./data/externalLinks/bootstrap-icons-1.0.0-alpha5/caret-right.svg" alt="" width="30em" height="30em"> 
                    </a>
                </div>
                <div class="weekdays d-flex align-items-center justify-content-center card-body">
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                    <div>San</div>
                </div>
                <div class="days d-flex flex-wrap align-items-center justify-content-center" manager-directive>
                </div>
            </div>
        </div>
    </div>
</div>