<div class="container" ng-controller="managerStudentsController as manCtrl">
    <div class="row">
        <div class="col">
            <div class="mb-5">
                <div>
                    <span>
                        <h4>Create group</h4>
                    </span>
                </div>
                <div class="form-group" style="margin-left: 0; margin-right: 0;">
                    <label>Group name</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>