<li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true"><!-- Enable when log in -->
        <img class="mr-4" src="./data/externalLinks/bootstrap-icons-1.0.0-alpha5/bell.svg" alt="" width="22em" height="22em">
    </a>
</li>
<li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true"><!-- Enable when log in -->
        <img class="mr-3" src="./data/externalLinks/bootstrap-icons-1.0.0-alpha5/box-arrow-right.svg" alt="" width="24em" height="24em">
    </a>
</li>